.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: cornsilk;
}
.header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 5);
}
