.catalog_section {
  padding: 0 var(--side-padding);
}

.catalog_section h1 {
  color: #373737;
  margin: 4vh 0;
}

.catalog_section .grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 25px;

  isolation: isolate;
}

.catalog_section .card {
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  transition: all 0.1s ease;
}

.catalog_section .card:hover {
  background-color: #f7f7f7;
  transform: scale(0.95);
}

.catalog_section .card img {
  width: 100%;
  mix-blend-mode: darken;
}

.catalog_section .card .card_row {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.catalog_section .card .card_row > * {
  padding: 5px;
}

.catalog_section .card .card_title {
  color: #444;
  font-weight: 700;
  padding-right: 0;
}

.catalog_section .card .add_to_cart {
  color: #f50057;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  flex-shrink: 0;
  align-self: flex-end;
  border-radius: 3px;
  line-height: 1;
}

.catalog_section .card .add_to_cart:hover {
  background-color: #e7e7e7;
}

@media screen and (min-width: 1900px) {
  .catalog_section .grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media screen and (max-width: 1000px) {
  .catalog_section .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 600px) {
  .catalog_section .grid {
    grid-template-columns: minmax(0, 1fr);
    gap: 15px;
  }
}
