:root {
  --side-padding: 13vw;
  --blue: #0870d8;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  :root {
    --side-padding: 5vw;
  }
}
