.recomendation__main {
  height: calc(100vh - 68px);
  padding: 7vh var(--side-padding) 0;
  width: 100%;
}

.recomendation__header {
  gap: 1vw;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  color: #373737;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row > * {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  font-size: 42px;
  line-height: 49px;
  color: #606060;
  display: flex;
  flex-shrink: 0;
}

.row .showhistory {
  color: #ddd;
  font-weight: 300;
  cursor: pointer;
}

.row .showhistory:hover {
  color: #bbb;
  font-weight: 300;
  cursor: pointer;
}

.recomendation__main .recommendation__link1 {
  color: var(--blue);
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid var(--blue);
  text-align: center;
  padding: 0;
}

.recommendation__container {
  margin-top: 30px;
  padding: 30px 0;
  display: grid;
  --square-width: 250px;
  grid-template-columns: repeat(auto-fill, var(--square-width));
  gap: 40px 10px;
  justify-content: space-between;
}

.recommendation__square {
  display: inline-block;
  width: var(--square-width);
  height: 300px;
  background: #fefefe;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}
.recommendation__square:hover {
  transform: scale(1.1);
}

.recommendation__square img {
  width: 100%;
  transition: transform 0.2s ease-in-out;
}

.recommendation__square .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 50%, white, white);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: Roboto;
}

.recommendation__square .textbox {
  padding: 13px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.recommendation__square .itemTitle {
  font-weight: 700;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: #555;
}

.recommendation__square .itemId {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 5px;
  color: #666;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown > a {
  font-family: Roboto;
  color: #f5f5f5;
  justify-content: center;
  padding-right: 50px;
  text-decoration: none;
}
.dropdown_content {
  font-weight: 300;
  pointer-events: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: #555;
  max-height: 500px;
  overflow-y: scroll;
  min-width: 250px;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.dropdown_content a {
  font-family: Roboto;
  font-size: 20px;
  color: #373737;
  padding: 1px 16px;
  text-decoration: none;
  display: block;
}

.dropdown_content > a:hover {
  background-color: rgb(238, 238, 238);
}

.dropdown:hover .dropdown_content {
  display: block;
  background-color: whitesmoke;
  opacity: 1;
  pointer-events: auto;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
